{% extends 'base.html.twig' %}

{% block title %}Ligue{% endblock %}

{% block content %}
    <h1>{{ ligue.name }}</h1>
    {% if app.user %}

        <a href="{{ path('app_ligue_add_user', { 'ligue': ligue.id }) }}">rejoindre ligue</a>
    {% endif %}
    <div class="listeLigue">
    {% for stat in ligue.ligueStats %}
        <a href=""><div class="cardLigue">
           <p>  salut {{ stat.user.username }}</p>


            </div></a>





    {% endfor %}
    </div>

{% endblock %}
