body {
    background-color: rgba(20, 33, 61, 0.5);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../res/bg_lol1.jpg");
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar--item {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0 10px 0 10px;
    height: 80px;
    width: 100px;
}

.navbar--item:hover {
    background-color: rgba(145, 145, 145, 0.2);
}
.navbar--item:first-child {
    padding-left: 20px;
}

.navbar--item:last-child {
    padding-right: 20px;
}

.btns {
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

.btnLogin,
.btnRegister {
    text-align: center;
    width: 150px;
    height: 40px;
    margin: 20px;
    border-radius: 50px;
}

.btnLogin {
    line-height: 40px;
    background-color: #fca311;
}

.btnLogin:hover {
    background-color: #e48f05;
    color: #eeeeee;
}

.btnRegister {
    box-sizing: border-box;
    border: 2px solid white;
    line-height: 35px;
}

.btnRegister:hover {
    color: #eeeeee;
    background-color: rgba(255, 255, 255, 0.2);
}

a {
    color: white;
    text-decoration: none;
}